NEXT_PUBLIC_SUPABASE_URL=https://dlflaalirvuusqnaqemz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsZmxhYWxpcnZ1dXNxbmFxZW16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2ODU5NDIsImV4cCI6MjA4MDI2MTk0Mn0.NPuhxV4RE_PoT2KpU_o1PQDaGV8cC4HRWJHoZxA-C-U